{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% block bower_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.min.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'bower_components/intro.js/introjs.css' %}" />
        {% endblock %}
        <!-- Bootstrap 3.3.2 -->
{#        <link href="{{ STATIC_URL }}AdminLte/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />#}
        <!-- FontAwesome 4.3.0 -->
{#        <link href="{{ STATIC_URL }}AdminLte/font/css/font-awesome.min.css" rel="stylesheet" type="text/css" />#}
        <!-- iCheck -->
{#        <link href="{{ STATIC_URL }}AdminLte/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />#}
        <!-- Date Picker -->
        <link href="{{ STATIC_URL }}AdminLte/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="{{ STATIC_URL }}AdminLte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="{{ STATIC_URL }}AdminLte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        {% if server == 'develop' %}
          <link rel="stylesheet" type="text/css" href="{% static 'css/bundle/dash-bundle.css' %}" />
        {% endif %}
        {% if server == 'production' %}
          <link rel="stylesheet" type="text/css" href="{% static 'css/bundle/dash-bundle.min.css' %}" />
        {% endif %}
        <!-- Bootstrap -->
        {% block head %}
        {% endblock %}
        {% block page_css %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    {% block body %}
        <body>
    {% endblock %}
        {% block start_wrapper %}
        {% endblock %}
            {% block body_header %}
            {% endblock %}
            {% block body_sidebar %}
            {% endblock %}
            {% if 'forum' in request.path %}
                {% block forum_content %}
                {% endblock %}
            {% else %}
                {% block content %}
                {% endblock %}
            {% endif %}
            {% block footer %}
            {% endblock %}
        {% block end_wrapper %}
        {% endblock %}
        {% block components %}
            <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
            <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
            <script type="text/javascript" src="{% static 'bower_components/json2/json2.js' %}"></script>
            <script type="text/javascript" src="{% static 'bower_components/intro.js/minified/intro.min.js' %}"></script>
            <script>
                (function($){
                    $(document).ready(function(){
                        $('#start_intro_top').click(function(){
                            introJs().goToStep(1).start();
                        });
                        $('#start_intro_side').click(function(){
                            introJs().goToStep(6).start();
                        });
                    });
                })(jQuery);
            </script>
            <script type="text/javascript" src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
            <script>$.material.init()</script>
        {% endblock %}
            <script src="{{ STATIC_URL }}AdminLte/dist/js/app.min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}/js/jquery.tap.js" type="text/javascript"></script>
        {% block react %}
        {% endblock %}
        {% block page_js %}
        {% endblock %}
        </body>
</html>
