{% extends "core_main.html" %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Просмотр каталога</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Создать закупку</li>
            </ol>
        </section>

        {% if not profile %}
            <div class="pad margin no-print">
                <div class="callout callout-info" style="margin-bottom: 0!important;">
                    <h4><i class="fa fa-info"></i> Записочка</h4>
                    Для того что бы работать организатором в SP Mooscow, вам необходимо заполнить личные данные, после этого Ваша учетная запись будет рассмотренна админимтратором и ей будет присвоен соответствующий статус
                </div>
            </div>
        {% endif %}


        <!-- Main content -->
        <section class="invoice">
            <!-- Table row -->
            <div class="row">

                <div class="col-xs-12">

                    <div class="box box-primary">
                        <div class="box-header ui-sortable-handle" style="cursor: move;">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title"><b>{{ catalog.catalog_name }}</b> - {{ catalog.created_at }}</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <p>{{ catalog.description|truncatewords:30|safe }}</p>
                            {% for catalog_product_property in catalog_product_properties %}
                                <p><i class="fa fa-check"></i> <b>{{ catalog_product_property.cpp_name }}</b>: {{ catalog_product_property.cpp_values }}</p>
                            {% endfor %}
                            <hr/>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Фото</th>
                                            <th scope="col">Продукт</th>
                                            <th scope="col">Описание</th>
                                            <th scope="col">Свойства</th>
                                            <th colspan="1"></th>
                                            <th colspan="1"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Стоимость товаров:</th>
                                            <th>100500 р.</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for product in products %}
                                            <tr>
                                                <td><img width="100" src="{{ product.image }}" alt=""/></td>
                                                <td><a href="{{ product.url }}">{{ product.product_name }}</a></td>
                                                <td>{{ product.description|truncatewords:20|safe }}</td>
                                                <td>
                                                    {% for property in product.property %}
                                                        {{ property }}
                                                    {% endfor %}
                                                </td>
                                                <td><a href="{{ product.url }}-edit/"><button style=" width: 150px;" class="btn btn-block btn-success btn-sm"><i class="fa fa-pencil"></i> <span>Редактировать товар</span></button></a></td>
                                                <td><a href="{{ product.url }}/product-add/"><button style=" width: 150px;" class="btn btn-block btn-danger btn-sm" name="add_product"><i class="fa fa-archive"></i> <span>Удалить товар</span></button></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix no-border">
                            <a href="{{ catalog.url }}-edit/"><button style="margin-left: 10px;" class="btn btn-default pull-right"><i class="fa fa-pencil-square-o"></i> Редактировать Каталог</button></a>
                            <a href="{{ catalog.url }}/product-add/"><button style="margin-left: 10px;" class="btn btn-default pull-right"><i class="fa fa-plus-square-o"></i> Добавить товар</button></a>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="{{ catalog.url }}/products">Посмотреть товары</a>
                    <a class="btn btn-primary" href="{{ purchase.url }}/catalogs">Все каталоги</a>

                </div><!-- /.col -->
            </div><!-- /.row -->

        </section><!-- /.content -->
        <div class="clearfix"></div>
    </div><!-- /.content-wrapper -->

{% endblock %}

