{% extends "core_main.html" %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Просмотр каталога</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Создать закупку</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="invoice">
            <!-- Table row -->
            <div class="row">

                <div class="col-xs-12">

                    <div class="box box-primary">
                        <div class="box-header ui-sortable-handle" style="cursor: move;">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title"><b>{{ catalog.catalog_name }}</b> - {{ catalog.created_at }}</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <p>{{ catalog.description|truncatewords:30|safe }}</p>
                            {% for catalog_product_property in catalog_product_properties %}
                                <p><i class="fa fa-check"></i> <b>{{ catalog_product_property.cpp_name }}</b>: {{ catalog_product_property.cpp_values }}</p>
                            {% endfor %}
                            <hr/>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Фото</th>
                                            <th scope="col">Продукт</th>
                                            <th scope="col">Описание</th>
                                            <th scope="col">Свойства</th>
                                            <th colspan="1"></th>
                                            <th colspan="1"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Стоимость товаров:</th>
                                            <th>100500 р.</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for product in products %}
                                            <tr>
                                                <td><img width="100" src="{{ product.image }}" alt=""/></td>
                                                <td><a href="{{ product.url }}">{{ product.product_name }}</a></td>
                                                <td>{{ product.description|truncatewords:20|safe }}</td>
                                                <td>
                                                    {% for property in product.property %}
                                                        {{ property }}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    <a href="{{ product.url }}-edit/">
                                                        <button style=" width: 150px;" class="btn btn-block btn-success btn-sm">
                                                            <i class="fa fa-pencil"></i>
                                                            <span>Редактировать товар</span>
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <form action="." method="post">{% csrf_token %}
                                                        <input type="text" class="hidden" name="product" value="{{ product.id }}"/>
                                                        <button style=" width: 150px;" class="btn btn-block btn-danger btn-sm" name="del_product">
                                                            <i class="fa fa-archive"></i>
                                                            <span>Удалить товар</span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix no-border">
                            <a href="{{ catalog.url }}-edit/"><button style="margin-left: 10px;" class="btn btn-default pull-right"><i class="fa fa-pencil-square-o"></i> Редактировать Каталог</button></a>
                            <a href="{{ catalog.url }}/product-add/"><button style="margin-left: 10px;" class="btn btn-default pull-right"><i class="fa fa-plus-square-o"></i> Добавить товар</button></a>
                            <div style="width:400px;" class="box box-success">
                                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Добавить товары с помощью xml файла">
                                    <h3 class="box-title">Импорт товаров в каталог</h3>
                                    <div class="box-tools pull-right">
                                        <form class="form_export" action="." method="post">{% csrf_token %}
                                            <input type="text" class="hidden" name="catalog" value="{{ catalog.id }}"/>
                                            <button style="margin-top: 5px; display: block; color: #3c8dbc" type="submit" name="export"><i class="fa fa-download"></i> <span>Скачать образец</span></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <form enctype="multipart/form-data" class="" action="." method="post">{% csrf_token %}
                                        <div class="form-group">
                                            {{ form.import_catalog.as_hidden }}
                                            {{ form.file }}
                                        </div>
                                        <button style="margin-left: 0px;" type="submit" class="btn btn-success" name="import"><i class="fa fa-upload"></i> <span>Импорт XLS</span></button>
                                    </form>
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <p>Вы можете загрузить файл в формате Exel(xls). Файл должен совпадать со структурой Вашего каталога.</p>
                                </div><!-- /.box-footer-->
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="{{ catalog.url }}/products">Посмотреть товары</a>
                    <a class="btn btn-primary" href="{{ purchase.url }}/catalogs">Все каталоги</a>

                </div><!-- /.col -->
            </div><!-- /.row -->



        </section><!-- /.content -->
        <div class="clearfix"></div>
    </div><!-- /.content-wrapper -->

{% endblock %}

