{% extends "core_main.html" %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Просмотр каталога</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Создать закупку</li>
            </ol>
        </section>

        {% if not profile %}
            <div class="pad margin no-print">
                <div class="callout callout-info" style="margin-bottom: 0!important;">
                    <h4><i class="fa fa-info"></i> Записочка</h4>
                    Для того что бы работать организатором в SP Mooscow, вам необходимо заполнить личные данные, после этого Ваша учетная запись будет рассмотренна админимтратором и ей будет присвоен соответствующий статус
                </div>
            </div>
        {% endif %}


        <!-- Main content -->
        <section class="invoice">
            <!-- Table row -->
            <div class="row">

                <div class="col-xs-6">

                    <b>ID: </b>{{ catalog.id }}
                    <br/>
                    <b>Name: </b>{{ catalog.catalog_name }}
                    <br/>
                    {#<a href="/profile/organizer/purchase-{{ purchase.id }}catalog-{{ catalog.id }}-edit">Изменить каталог</a>#}
                    <br/>
                    <ul>
                        {% for catalog_product_property in catalog_product_properties %}
                            <li><b>{{ catalog_product_property.cpp_name }}</b>: {{ catalog_product_property.cpp_values }}</li>
                        {% endfor %}
                    </ul>

                    <br/><br/>
{#                    <a class="btn btn-success" href="{{ catalog.url_account }}-edit">Изменить каталог</a>#}
                    <br/><br/>
                    <a class="btn btn-primary" href="{{ catalog.url }}/products">Посмотреть товары</a>
                    <a class="btn btn-primary" href="{{ purchase.url }}/catalogs">Все каталоги</a>

                </div><!-- /.col -->
            </div><!-- /.row -->

        </section><!-- /.content -->
        <div class="clearfix"></div>
    </div><!-- /.content-wrapper -->

{% endblock %}

