<div style="background: #eee;padding: 10px;">{{ message }}</div>
<form action="" method="post">
    {{ form2 }}
    <hr/>
    {% csrf_token %}
    {{ product_form }}
    <br/>

    <ul>
        {% for name_value, values in property_for_form.items %}
            <li> <b>{{ name_value }}</b>  :
                {% for value in values %}
                    <label for="">{{ value }} <input type="radio" name="{{ name_value }}" value="{{ value }}"></label> ;
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <input type="submit" class="button" value="Добавить">
</form>