{% extends "core_main.html" %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Просмотр товара</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Посмотреть товар</li>
            </ol>
        </section>

        {% if message %}
            <div class="pad margin no-print">
                <div class="callout callout-info" style="margin-bottom: 0!important;">
                    <h4><i class="fa fa-info"></i> Поздравляем</h4>
                    {{ message }}
                </div>
            </div>
        {% endif %}

        <!-- Main content -->
        <section class="invoice">
            <!-- Table row -->
            <div class="row">

                <div class="col-xs-6">

                    <a class="btn btn-success" href="/profile/organizer/purchase-{{ purchase.id }}/catalog-{{ catalog.id }}/product-{{ product.id }}-edit">Изменить товар</a>
                    <br/>
                    <b>ID: </b>{{ product.id }}
                    <br/>
                    <b>Name: </b>{{ product.product_name }}
                    <br/>
                    <b>Description: </b>{{ product.description }}
                    <br/>

                    <b>Свойства: </b>
                    <div style="overflow: hidden;">
                    {% for property in product_properties%}
                        <div style="float:left;margin:0 7px 7px 0;">{{ property }}</div>
                    {% endfor %}
                    </div>
{#                    <b>all_properties: </b>#}
{#                    <ul>#}
{#                        {% for name_value, values in all_properties.items %}#}
{#                            <li> {{ name_value }} :#}
{#                                {% for value in values %}#}
{#                                    {{ value }}#}
{#                                  <input type="radio" name="{{ name_value }}" value="{{ value }}"> ;#}
{#                                {% endfor %}#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
                    <br/>

                </div><!-- /.col -->
                <div class="col-xs-6">
                    <b>Image:</b>
                    <br/>
                    <img src="{{ MEDIA_URL }}{{ product_image }}" width="100%" height="auto" alt=""/>
                    <br/>
                </div>

                <div class="col-sm-12">
                    <a class="btn btn-primary" href="/profile/organizer/purchase-{{ purchase.id }}/catalog-{{ catalog.id }}/products">Все товары</a>
                </div>

            </div><!-- /.row -->

        </section><!-- /.content -->
        <div class="clearfix"></div>
    </div><!-- /.content-wrapper -->

{% endblock %}



