{% extends "main.html" %}

{% block content %}

    {% if profile %}
        <h2>Аккаунт {{ user }}</h2>
        <img src="{{ MEDIA_URL }}{{ profile.icon }}" width="100" height="100" alt=""/>
        <p>{{ profile.firstName }}</p>
        <p>{{ profile.lastName }}</p>
        <p>{{ profile.phone }}</p>
        <p>{{ profile.email }}</p>
        <p>{{ profile.address }}</p>
        <p>{{ profile.zipCode }}</p>
    {% elif profile == None %}
        <h2>Пожалуйста заполните ваш профиль</h2>
        <form action="." method="post">{% csrf_token %}
			{{ form.as_p }}
            <input type="submit" value="Отправить"/>
        </form>
    {% else %}
        <h2>Пожалуйста зарегистрируйтесь</h2>
    {% endif %}

{% endblock %}
