{% extends "core_main.html" %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Просмотр данных закупки</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Просмотреть закупку</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="invoice">
            <!-- Table row -->
            <div class="row">

                <div class="col-xs-6">

                    <br/>
                    <b>Название: </b>{{ purchase.name }}
                    <br/>
                    <b>Создана: </b>{{ purchase.created_at }}
                        {% if purchase.created_at !=  purchase.updated_at %} | <b>Обновлена: </b>{{ purchase.updated_at }} {% endif %}
                    <br/>
                    <b>Статус закупки: </b>{{ purchase.get_current_status }}
                    <br/>
                    <b>Предоплата: </b>{{ purchase.prepay }}
                    <br/>
                    <b>Процент организатора: </b>{{ purchase.percentage }}
                    <br/>
                    <b>Способы оплаты: </b>{{ purchase.paymethods }}
                    <br/>
                    <b>Категории: </b>
                    {% for category in purchase.categories.all %}
                        {{ category }}
                        {% if not forloop.last %}, {% else %}{% endif %}
                    {% endfor %}
                    <br/>
                    <b>Каталоги: </b>
                    {% for catalog in purchase.get_catalogs %}
                        <a href="{{ catalog.url }}">{{ catalog }}</a>{% if not forloop.last %}, {% else %}{% endif %}
                    {% endfor %}
                    <br/>

                    <a class="btn btn-success" href="{{ purchase.url }}-edit">Изменить закупку</a>
                    <br/><br/>
                    <a class="btn btn-primary" href="catalogs">Каталоги закупки</a>


                </div><!-- /.col -->
            </div><!-- /.row -->

        </section><!-- /.content -->
        <div class="clearfix"></div>
    </div><!-- /.content-wrapper -->




{% endblock %}