{% extends "accounts/_accounts_pages.html" %}


{% block inner_content %}
    <div class="row">
        <div class="col-xs-12">

            <a href="/profile/organizer/purchases/">Просмотр всех закупок</a>

            <div>{{ message }}</div>
            <form action="" method="post">
                {% csrf_token %}
                {{ purchase_form }}
                <br/>
                <input type="submit" class="button" value="Сохранить">
            </form>

        </div><!-- /.col -->
    </div>
{% endblock %}
