@import "http://webfonts.ru/import/nautilus.css";
@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,500,700,400);


/*react-lightbox*/
/*html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
 
.react-lightbox {
  
}
 
.react-lightbox-image {
  float: left;
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}
 
.react-lightbox-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(25,25,25,0.5) 0%,rgba(25,25,25,0.25) 100%);
  transition: opacity 0.5s ease-in-out;
}
 
.react-lightbox-overlay-open {
  opacity: 1;
}
 
.react-lightbox-carousel-image {
  position: absolute;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-size: cover;
  transition: transform 0.25s ease-in, opacity 0.25s ease-in;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 40px rgba(25, 25, 25, 0.5);
}
.react-lightbox-carousel-image-backward {
  transform: translate3d(-400px, 0, 0);
  opacity: 0;
}
.react-lightbox-carousel-image-forward {
  transform: translate3d(400px, 0, 0);
  opacity: 0;
}
 
.my-controls {
  position: absolute;
  width: 600px;
  height: 100px;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.my-button {
  font-size: 24px;
  background-color: #EAEAEA;
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  height: 50px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Arial Black';
  opacity: 0.8;
}
.my-button:hover {
  background-color: #FFF;
}
.my-button-left {
  float: left;
}
.my-button-right {
  float: right;
}*/
/*end react-lightbox*/


body {
    background-color: #fff;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px!important;
    margin-bottom: 5px!important;
}
.panel {
    border: 1px solid rgb(239, 239, 239);
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*.dropdown a {
    float: left;
}*/
body.mobile .dropdown {
    width: 100%;
}
.dropdownjs > input.focus ~ ul {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.dropdownjs > ul {
    position: absolute;
    padding: 0;
    margin: 0;
    min-width: 200px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    z-index: 10000;
}
.btn {
    /*padding: 5px 10px;*/
}
.btn-primary{
    background-color: #ffc229!important;
    color: #fff!important;
}
.btn .fa {
    margin: 0 6px;
}
.color-primary {
    color: #ffc229!important;
}
a {
    /*color: #ffc229!important;*/
    color: #333333;
    font-weight: bold;
}
.breadcrumb {
    margin-top: 10px;
}
.client_body {
    padding-top: 161px;
}
.client_body a:hover,
.client_body a:active {
    color: #ffc229;
    /*font-weight: bold;*/
}
.image-wrapper a:hover {
    color:#fff!important;
}
.bg-primary {
    color: #ffc229!important;
}
.font-decor {
    font-family: 'Nautilus Pompilius';
}
.client_body .navbar.navbar .dropdown-menu li>a:hover,
.client_body .navbar-default.navbar .dropdown-menu li>a:hover,
.client_body .navbar.navbar .dropdown-menu li>a:focus,
.client_body .navbar-default.navbar .dropdown-menu li>a:focus {
    color: #ffc229;
}
.navbar .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 200;
    font-size: 15px;
    display: inline-block;
}
.navbar {
    margin-bottom: 0;
}
.separator {
    height: 1px;
    background-color: #D0D0D0;
    width: 100%;
    float: left;
}
.price {
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ffc229;
    line-height: 20px;
    margin-bottom: 5px;
}


/* react-slider component */
.slider {
    height: 2px;
    background: #BDBDBD;
    margin: 50px 0;
}
.slider .bar {
    height: 12px;
    width: 12px;
    background: #ffc229;
    border-radius: 12px;
    top: -6px;
}
.slider .bar.bar-0 {
    height: 7px;
    width: 7px;
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px solid #B3B3B3;
    top: -3px;
}
.my-handle:after {    
    height: 20px;
    position: absolute;    
    color: #333;
    font-size: 15px;
    font-family: "FontAwesome";
}
.handle-0 .my-handle:after {
    content: "\f0d8";
    top: -13px;
    right: 10px;
    margin-left: -5px;
}
.handle-1 .my-handle:after {
    content: "\f0d7";
    bottom: -11px;
    left: 17px;
    margin-left: -5px;
}
.my-handle {
    width: 100px;
    position: absolute;
    background-color: #333;
    border-radius: 3px;
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;
}
.handle-0 .my-handle {
    top: 12px;
    right: -20px;
    text-align: right;
}
.handle-1 .my-handle {
    top: -38px;
    left: -10px;
}
/*end react-slider component*/



/*custom select*/
.Select-menu-outer {
    margin-top: auto!important;
    margin-bottom: -1px!important;
    max-height: 400px!important;
    /*height: 400px!important;*/
    top: auto!important;
    bottom: 100%;
    border-radius: 0!important;
    box-shadow: none!important;
}
.Select-menu {
  max-height: 350px!important;
  overflow-y: auto;
}
.Select-control {
  border-radius: 0!important;
}
.is-open > .Select-control {
  border-radius: 0!important;
  background: #ffffff;
  border-color: #b3b3b3 #cccccc #d9d9d9;
}
/*end custom select*/


/*TOP MENU*/
.navbar.top-menu {
    min-height: 30px;
    background-color: rgba(0, 0, 0, 0.7)!important;
}
.navbar.top-menu .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-menu.scroll {
    max-height: 400px;
    overflow: scroll;
}
/*END TOP MENU*/


/*HEADER INFO*/
#header_info {
    background-color: #fff;
    color: #000;
}
.mobile #header_info .navbar-toggle{
    display: none;
}

.dropdown-menu.scroll {
    display: none;
}
.open>.dropdown-menu.scroll {
    display: block;
}
#header_info input[placeholder]          {color: #000; padding: 5px; border: 1px solid #828282; border-radius: 3px;}
#header_info input::-moz-placeholder     {color: #000; padding: 5px; border: 1px solid #828282; border-radius: 3px;}
#header_info input:-moz-placeholder      {color: #000; padding: 5px; border: 1px solid #828282; border-radius: 3px;}
#header_info input:-ms-input-placeholder {color: #000; padding: 5px; border: 1px solid #828282; border-radius: 3px;}

input[placeholder]          {color: #000; padding: 5px; border: 1px solid #828282; border-radius: 3px;}
input::-moz-placeholder     {color: #000; padding: 5px; border: 1px solid #828282; border-radius: 3px;}
input:-moz-placeholder      {color: #000; padding: 5px; border: 1px solid #828282; border-radius: 3px;}
input:-ms-input-placeholder {color: #000; padding: 5px; border: 1px solid #828282; border-radius: 3px;}
#react_search {
    float: right;
    margin-right: 35px;
}
.custom-form {
    float: left;
    padding: 14px;
    /*width: 300px;*/
}
.custom-form input{
    width: 150px;
    float: left;
}
.custom-form .btn-search {
    margin: -2px 5px;
    padding: 5px 14px;
}
/*END HEADER INFO*/

/*Main MENU*/
#main-menu {
    -webkit-transition: all 1s;
    transition: all 1s;
}
.scroll-class {
    position: fixed;
    top:0;
    z-index: 10;
    width:100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;   
} 
#main-menu.navbar-fixed-top {
    top: 100px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#main-menu.navbar-fixed-top.animate {
    top: 0px;
}
.desktop_menu {
    /*margin-bottom: 10px;*/
}
.desktop_menu .dropdown-menu {
    visibility: hidden;
    display: block;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;

}
.desktop_menu .dropdown:hover .dropdown-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.desktop_menu .city-change.dropdown.open>.dropdown-menu {
    display: block;
}
.desktop_menu .city-change.dropdown .dropdown-menu {
    display: none;
    visibility: inherit;
    opacity: 1;
}
.city-change.dropdown:hover .dropdown-menu {
    visibility: inherit;
}
.navbar.navbar, .navbar-default.navbar{
    background-color: #443f39;
}
.mobile .navbar-nav>li>.dropdown-menu:before {
    top: 48px;
}
.navbar .navbar-nav>li>a.dropdown-toggle {
    /*padding-right: 5px;*/
}
.navbar .navbar-nav>li>a.dropdown-toggle-second {
    padding-left: 5px;
    padding-right: 5px;
}
.mobile .navbar .navbar-nav>li>a.dropdown-toggle {
    padding-right: 20px;    
}
.mobile .navbar .navbar-nav>li>a.dropdown-toggle-second {
    padding: 2px 7px 2px 5px;
    margin: 17px 20px 10px 0;
    border: 1px solid #B5B5B5;
    background-color: #443F39;
    float: right;
}
.navbar-nav>li>.dropdown-menu:before {
    content: "\f0d8";
    height: 20px;
    position: absolute;
    top: -18px;
    left: 50px;
    margin-left: -5px;
    color: #fff;
    font-size: 21px;
    font-family: "FontAwesome";
    text-indent: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.navbar-right>li>.dropdown-menu:before {
    left: auto;
    right: 50px;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 15px;
    border-radius: 2px;
}
.navbar-nav>li.open>.dropdown-menu {
    margin-top: 3px;
}
.navbar .navbar-nav>li>ul>li>a.dropdown-toggle-second {
    position: absolute;
    top:0;  
    right: -12px;
}
.navbar .navbar-nav .dropdown-menu li {
    overflow: inherit;
}
.navbar .navbar-nav>li>ul>li>ul,
.navbar ul.navbar-nav>li.dropdown:hover>ul>li>ul {
    visibility: hidden;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 100%;    
    border-radius: 2px;
    -webkit-box-shadow: 0 8px 33px rgba(0,0,0,0.375);
    box-shadow: 0 8px 33px rgba(0,0,0,0.375);
}
.mobile .navbar ul.navbar-nav>li.dropdown:hover>ul>li>ul {
    left: inherit;
    right: 20px;
    background: #fff;
    color: #333;
}
.navbar ul.navbar-nav>li.dropdown:hover>ul>li:hover ul{
    visibility: visible;
    display: block;
    opacity: 1;    
}
.navbar ul.navbar-nav>li.dropdown:hover>ul>li>ul:before{
    content: "\f0d8";
    height: 20px;
    position: absolute;
    top: 4px;
    left: -9px;
    margin-left: -5px;
    color: #fff;
    font-size: 21px;
    font-family: "FontAwesome";
    text-indent: 0;
    opacity: 1;
    -moz-transform: rotate(-90deg); /* Для Firefox */
    -ms-transform: rotate(-90deg); /* Для IE */
    -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-90deg); /* Для Opera */
    transform: rotate(-90deg);
}
/*End Main MENU*/


/*FOOTER*/
.page-footer {
    background: #443f39;
    color: #fff;
    padding: 20px 0;
}
.footer-copyright {
    text-align: center;
}
.page-footer a{
    font-size: 85.71%;
    color: #b4b2b0;
}
/*END FOOTER*/


/*INDEX страница*/ /*INDEX страница*/ /*INDEX страница*/

.swiper-container img{
    width: 100%;
}

/*первый блок*/
.overflow {
    overflow: hidden;
}
.margin.in {
    margin-left: -670px;
    height: auto;
}
.margin.out {
    margin-left: 0px;
}
.big_content_wrapper {
    height: 300px;
    width: 2340px;
    margin-top: 30px;
    overflow: hidden;
    -webkit-transition: top 1s ease-out 0.5s;
     -moz-transition: top 1s ease-out 0.5s;
     -o-transition: top 1s ease-out 0.5s;
     transition: top 1s ease-out 0.5s;
}
.big_content_style {
    padding: 0 15px;
    float: left;
}
.big_content_style_min {
    padding: 0 15px;
    float: left;
}
.big_content_intro {
    width: 220px;
    text-align: center;
    margin-top: 30px;
}
.big_content_intro a {
    display: table;
}
.big_content_image {
    width: 400px;
}
.big_content_image img{
    width: 100%;
}
.big_content_wrapper_more_button {
    text-align: center;
    margin-top: 170px;
    width: 220px;
}
a.more-button {
    position: relative;
    cursor: pointer;
}
a.more-button:hover {
    text-decoration: none;
}
a.more-button:before {
    content: "";
    position: absolute;
    top: -60px;
    left: 18px;
    width: 55px;
    height: 55px;
    background: url('../images/canifa.png') no-repeat 0 -69px;
}
.full-width {
    display: block;
    margin: 10px auto;
    width: 100%;
}
.count_block  {
    margin-top:-10px;
}
.count_input {
    float: left;
    max-width: 72px;
    padding: 3px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    width:30%
}
.plus,
.minus{
    padding: 8px 0;
    width: 33%;
    max-width: 50px;
}
.modal-button-cancel {
    color: #333!important;
    border: 1px solid #BDBDBD!important;
    border-radius: 2px!important;
}
.modal-button-cancel:hover {
    background-color: #fff!important;
}
.btn-default {
    border: 1px solid #BDBDBD!important;
    border-radius: 2px!important;
}
.big_content_wrapper_more_button .mdi-content-add {
    font-size: 50px;
    cursor: pointer;
}
.big_content_wrapper_more_button .mdi-content-add:hover {
    color: #ccc;
}
.big_content {
    float: left;
    padding: 10px 0;
}
.big_content .panel-heading {
    min-height: 60px;
}
.big_content .panel-body img{
    width: 100%;
}
.big_content .panel {
    float: left;
    width: 200px;
    margin: 0 5px;
}
/*конец первого блока*/

/*второй блок*/
.main-content {
    /*margin-top: 50px!important;*/
}
.properties ul li {
    float: left;
    list-style: none;
    padding: 0 5px;
}
.properties ul {
    display: block;
    overflow: hidden;
}
.swiper2.swiper-container,
.swiper3.swiper-container {
    padding-top: 80px;
    margin-top: -50px;
}
.swiper2 img {
    width: 50%;
    float: left;
    padding: 10px;
    border: 1px solid #E4E4E4;
}
.swiper2 .swiper-text {
    float: left;
    padding: 0 0 0 15px;
    width:50%;
}
.swiper2 .swiper-slide {
    min-height: 350px;
}
.custom.swiper-button-prev,
.custom.swiper-button-next {
    top: 22px;
    background: none;
    width: 92px;
    height: 34px;
}
.custom.swiper-button-prev {
    left: auto;
    right: 105px;
}
.custom.swiper-button-prev:hover,
.custom.swiper-button-next:hover {
    background: #ffc229;
}
.custom.swiper-button-prev:before {
    background: url('../images/canifa.png') no-repeat;
    background-position: -254px -65px;
}
.custom.swiper-button-prev:hover:before {
    background-position: -254px -46px;
}
.custom.swiper-button-next:before {
    background: url('../images/canifa.png') no-repeat;
    background-position: -329px -65px;
}
.custom.swiper-button-next:hover:before {
    background-position: -329px -46px;
}
.custom.swiper-button-next:before,
.custom.swiper-button-prev:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 10px;
    top: 12px;
    left: 21px;
}
/*конец второй блок*/

/*третий блок*/
.third-block {
    margin-top: 30px;
    margin-bottom: 30px;
}
.third-block img {
    width: 100%;
    /*height: 680px;*/
}
.small-padding {
    padding: 0 5px;
    margin: 5px 0;
}
.small-banner img {
    /*height: 335px;*/
}
.big-banner .info {
    float: left;
    width: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.big-banner:hover .info {
    background: #ffc229;
    left: 30px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.big-banner .info p {
    margin: 0;
    line-height: 100%;
}
.big-banner .info .p1{
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 5px;
}
.big-banner .info .p2{
    text-transform: uppercase;
    color: #333333;
    font-size: 171.42%;
    margin-bottom: 5px;
}
.big-banner .info .p3{
    text-transform: capitalize;
    color: #999999;
}
.big-banner:hover .info p {
    color: #fff;
}
.small-banner {
    overflow: hidden;
    position: relative;
}
.small-banner .info {
    float: left;
    width: 185px;    
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.small-banner .info .inner {    
    float: left;
    width: 100%;
}
.small-banner .info .inner .p1 {
    /*text-transform: uppercase;*/
    color: #333333;
}
.small-banner .info .inner .p2 {
    color: #999999;
}
.small-banner .info .inner p {
    margin: 0;
}
.small-banner .info .inner .link-sn {
    text-transform: capitalize;
    font-size: 85.71%;
    color: #fff!important;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
}
.small-banner:hover .info {
    bottom: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.small-banner:hover .info .inner {
    /*background: rgba(255, 194, 41, 0.9);*/
}
.small-banner:hover .info .inner .link-sn {
    border-top: 1px solid #fff;
}
.small-banner:hover .info .inner p {
    color: #fff;
}
/*конец третий блок*/

/*четвертый блок*/
.swiper3 img {
    padding: 10px;
    border: 1px solid #E4E4E4;
}
.swiper3 .image-wrapper {
    position: relative;
}
.swiper3 .image-wrapper .blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.swiper3 .swiper-slide:hover .image-wrapper .blackout {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.swiper3 .swiper-slide:hover .image-wrapper .fast-links{
    position: absolute;
    /*height: 8%;*/
    width: 40%;
    /*background-color: #FFEC00;*/
    top: 46%;
    left: 8%;
}
.catalog .slick-prev,
.catalog .slick-next {
    background: #fff;
    border: 1px solid #BDBDBD;
    height: 25%;    
    width: 25px;
    /*left: -25px;*/
}
.catalog .slick-prev:before {
    content: '\f100';
    font: normal normal normal 23px/1 FontAwesome;
    font-weight: bold;
    color: #5a5a5a;
}
.catalog .slick-next:before {
    content: '\f101';
    font: normal normal normal 23px/1 FontAwesome;
    font-weight: bold;
    color: #5a5a5a;
}
.catalog .slick-prev:hover,
.catalog .slick-prev:focus,
.catalog .slick-next:hover,
.catalog .slick-next:focus {
    background: #fff;
    border: 1px solid #BDBDBD;
}
.catalog .slick-next {    
}
.catalog .slick-prev,
.catalog .slick-next {    
    top: 32%;
}
.btn.btn-primary.category-filter {
    margin: 3px 3px;
    padding: 3px 10px
}
#filters ul {
    padding: 10px 19px 20px 19px;
}
a.category-filter:hover {
    cursor: pointer;
}
a.category-filter.disable {
    color: #333;
}
a.category-filter.disable i {
    font-size: 16px;
    font-weight: bold;
    float: right;
}
.slick-slider .image-wrapper:hover .btn-primary.fast-modal {
    opacity: 1;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.slick-slider .btn-primary.fast-modal {
    opacity: 0;
    position: absolute;
    width: 86%;
    margin: 2% 7%;
}
.slick-slider .btn-primary.fast-modal.top {
    top:70%;
}
.slick-slider .btn-primary.fast-modal.bottom {
    bottom: 70%
}
.slick-slider .image-wrapper:hover .btn-primary.fast-modal.top {
    top:50%;
}
.slick-slider .image-wrapper:hover .btn-primary.fast-modal.bottom {
    bottom: 50%
}
.product-relative-tittle {
    margin-bottom: 20px;
}
.product-info {
    padding: 18px 20px 68px;
}
.product-info .product-name a {
    color: #333333;
    font-weight: bold;
}
.product-info .category a {
    color: #666666;
    text-transform: uppercase;
    font-size: 10px;
}
.product_small_image_container {
    padding: 10px 4px 0 15px;
}
.product_small_image {
    width: 25%;
    float: left;
}
.swiper3 .product-info .properties {
    padding: 0 30px;
    position: absolute;
    bottom: 48px;
    left: 0px;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.swiper3 .swiper-slide:hover .product-info .properties {
    bottom: 0px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.slick-slide {
    padding: 0 5px;
}
.slick-slide .image-wrapper {
    position: relative;
}
.slick-slide .image-wrapper img {
    padding: 10px;
}
.image-wrapper img {    
    border: 1px solid #E4E4E4;
    width:100%;
}
.slick-slide .image-wrapper .blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.slick-slide .image-wrapper:hover .blackout {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.slick-slide .image-wrapper:hover .blackout:after {
    content: "";
}
/*конец четвертый блок*/

/*email блок*/
.email-block {
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
}
.email-block .inner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/icon-newlletter-2.png') repeat-y;
}
.email-block .inner:after {
    content: "";
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url('../images/icon-newlletter-2.png') repeat-y;
}
.email-block .inner-top:after {
    content: "";
    width: 99.9%;
    height: 7px;
    position: absolute;
    bottom: -3px;
    left: -1px;
    background: url('../images/icon-newlletter-1.png') repeat-x;
}
.email-block .inner-top:before {
    content: "";
    width: 99.9%;
    height: 7px;
    position: absolute;
    top: 0px;
    left: -1px;
    background: url('../images/icon-newlletter-1.png') repeat-x;
}
.email-block .title-block {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    padding: 20px;

}
.email-block .left-title {
    float: left;
    font-size: 25px;
    font-weight: 300;
}
.email-block .right-title {
    float: right;
    padding-top: 11px;
}
.email-block .inner {
    display: inline-block;
    width: 75%;
    position: relative;
}
.email-block .box-left,
.email-block .box-right {
    float: left;
    text-align: left;
    padding-bottom: 40px;
}
.email-block .box-left {
    width: 35%;
    padding-left: 90px;
    padding-top: 20px;
    border-right: 1px solid #efefef;
}
.mobile .email-block .box-right {
    width: 100%;
    padding: 10px;
}
.mobile .email-block .box-left {
    display: none;
}
.mobile .email-block .box-right {
    text-align: center;
}
.email-block .box-right {
    width: 65%;
    padding-top: 28px;
    padding-left: 50px;
    z-index: 100;
    position: relative;
}
.email-block .box-left h5{
    color: #ffc229;
}
.email-block .box-left ul {
    padding-left: 0;
}
.email-block .box-left ul li{
    list-style: none;
}
.email-block .box-left:after {
    background: url("../images/canifa.png") no-repeat scroll 0 -38px;
    content: "";
    height: 17px;
    position: absolute;
    top: 168px;
    left: 32px;
    width: 25px;
}
.email-block .box-left:before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 22px;
    background: #ffc229;
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(136deg);
    box-shadow: 0 -5px 2px 0 rgba(0, 0, 0, 0.1);
}
.email-block .input-text {
    height: 35px;
    width: 50%;
}
/*конец email блок*/


/*начало первный react блок*/
#popular {
    margin-top: 5px;
}
#purchase {
    min-height: 100px;
}
.swich-view {
    text-align: right;
    margin: 0 5px 5px 0;    
}
.swich-view .btn.mini {
    padding: 2px 5px 1px 4px;
}
.purchases-list {
    border: 1px solid #DCDCDC;
    padding: 5px 15px;
    min-height: 200px;
}
#category .purchases-list{
    margin-top: 30px;
    margin-bottom: 30px;
    /*width: 100%;*/    
}
.product_name_mini  {
    height: 32px;
    margin: 5px 0;
}
h2.block-title {
    text-align: center;
    margin-top: 38px;
}
.block-buttons {
    text-align: center;
    margin-bottom: 10px;
}
/*конец первный react блок*/

/*start sidebar*/
.sidebar {
    border: 1px solid #DCDCDC;
    padding: 5px 15px;
    margin-top: 5px;
}
.purchases-list .separator {
    margin-bottom: 30px;
    margin-top: 30px;   
}
.purchases-lis ..slick-slider {
    margin-bottom: 0;
}
/*end sidebar*/

/*корзина*/
#cartmenu {
    margin-right: -7px; 
    position: absolute; 
    top: 4px; 
    right: 12px; 
    z-index: 888;
}
.mobile #cartmenu {
    margin-right: -7px; 
    position: absolute; 
    top: 48px; 
    right: 22px; 
    z-index: 888;
}
#cartmenu .full_count_product{
    position: absolute;
    right: -5px;
    top: 6px;
    background-color: #FFC229;
    color: #FFF;
    font-weight: 600;
    font-size: 13px;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    padding: 0;
    text-align: center;
    line-height: 25px;
}
#cartmenu .dropdown-menu {
    min-width: 300px;
    max-height: 400px;
    overflow: scroll;
    padding: 15px;
    /*margin-top: -20px;*/
}
.desktop_menu #cartmenu .dropdown:hover .dropdown-menu {
    margin-top: -15px;    
}
#cartmenu .cart-image {
    width: 60px;
    float: left;
    margin-right: 10px;
}   
#cartmenu .dropdown-menu,
#cartmenu .dropdown-menu p,
#cartmenu .dropdown-menu h3,
#cartmenu .dropdown-menu li{
    color: #000;
}
#cartmenu .overflow {
    overflow: hidden;
    width: 100%;
    float: left;
    margin: 15px 0;
}
#cartmenu .quantity {
    font-weight: bold;
}
#cartmenu .dropdown-menu p.p2 {
    color: #FFC229;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
}
#cartmenu .dropdown-menu a {
    font-weight: 300;    
}
#cartmenu .dropdown-menu a:hover {    
    text-decoration: none;
}
#cartmenu .dropdown-menu a:hover p {
    color: #FFC229;
}
#cartmenu .dropdown-menu ul {
    padding-left: 10px;
    width: 100px;
    float: left;
}
#cartmenu .dropdown-menu ul li {
    font-size: 11px;
}
#cartmenu .small-banner {
    max-height: 250px;
}
#cartmenu .small-banner .info .inner {
    /*background-color: rgba(255, 194, 41, 0.9);*/
}
#cartmenu .small-banner span.quantity {
    position: absolute;
    font-size: 50px;
    top: 15px;
    color: #fff;
    right: 0;
}
/*конец корзины*/

/*product_fast_view*/
.product_fast_view {
    margin-bottom: 30px;
    margin-top: 30px;
    min-height: 315px;
}
.product_fast_view img {
    float: left;
    width:100%;
}
.product_fast_view h2 {
    margin-top: 0;
}
.purchase_tile_title h2.tile_view {
    float: left;
}
.purchase_tile_view h5 {
    margin-top: 0px;
}
.purchase_tile_title a {
    /*float: right;*/
    margin-top: 14px;
}
.product_fast_view .price {
    text-align:right;
}
.product_fast_view .Select-menu-outer {
    margin-top: -1px!important;
    margin-bottom: auto!important;
    max-height: 400px!important;
    /*height: 400px!important;*/
    top: 100%!important;
    bottom: auto;
    border-radius: 0!important;
    box-shadow: none!important;
}
.product_fast_view .Select-menu {
  max-height: 350px!important;
  overflow-y: auto;
}
.fast-open.in {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.fast-open.out {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.product_tile_view img {
    /*min-height: 333px;*/
    width:100%;
}
.product_tile_view .info a:hover {
    text-decoration: none;
}
.product_tile_view .btn.btn-primary {
    margin-top: -1px;
}
.image_block {
    position: relative;
    overflow: hidden;
}
/*.product_tile_view .gradient {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*background-image: linear-gradient(25deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.64), rgba(255, 255, 255, 0.62), rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) );*/
/*}*/
.product_tile_view .fast-modal {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.product_tile_view:hover .fast-modal {
    filter: alpha(opacity=50);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.product_tile_view .fast-modal.left {
    right: 465px;
}
.product_tile_view .fast-modal.right {
    right: 310px;
}
.product_tile_view:hover .fast-modal.left {
    right: 65px;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.product_tile_view:hover .fast-modal.right {
    right: 10px;
}

.product_tile_view .btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    color: #fff!important;
}
.product_tile_view .count_block .btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    color: #333!important;   
}
.product_tile_view .gradient {
    position: absolute;
    width: 149%;
    height: 59%;
    top: 41%;
    left: -11%;
    /* -webkit-filter: blur(2px); */
    -webkit-transform: skew(111deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-image: linear-gradient(15deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.64), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) );
}
.product_tile_view > .product_fast_view {
    margin-bottom: 5px;
    margin-top: 5px;
}
.product_tile_view > .product_fast_view.info {
    /*position: absolute;*/
    /*bottom: -197px;*/
    margin-top: -140px;
}
.product_tile_view {
    margin-bottom: 20px;
}
.product_tile_view h3 {
    height: 42px;
    margin: 0;
    overflow: hidden;
    /* padding: 15px; */
    font-size: 20px;
}
.product_tile_view .price {
    margin-bottom: 0;
    color: #464646;
    font-weight: bold;
    font-size: 15px;   
    line-height: 20px; 
}
.product_tile_view .info {
    position: absolute;
    top: -95px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.product_tile_view:hover .info{
    /*background-color: rgba(255, 194, 41, 0.9);*/
    left: 15px;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.product_tile_view .info_inner {
    padding: 15px 0;
    width: 80%;
    /*background-color: rgba(255, 255, 255, 0.86);*/
}
/*end product_fast_view*/

/*product_detail*/
.benefits {
    border:1px solid #E4E4E4;
    padding: 15px;
}
.benefits-header a{
    cursor:pointer;
}
.benefits-separator {
    margin: 15px -15px;
    padding:15px 15px;
    background: #E4E4E4;
}
.benefits-separator h3 {
    font-family: 'Nautilus Pompilius';
    margin: 0;
}
.full-description > div > div:first-child {
    background-color: #A5A5A5!important;
}
.full-description > div > div:first-child > .modified:not(:hover) .title::after {
    background: #fff!important;
}
/*end product_detail*/

/*react search result*/
#react_search_result {
    margin-top: 5px;
}
/*end react search result*/


/*конец INDEX страница*/ /*конец INDEX страница*/
