{% load i18n %}
{% load mptt_tags %}

{% if nodes %}
    <ul>
        {% recursetree nodes %}
            <li {% if not node.is_leaf_node %} class="parent" {% endif %}>
                <a href="{{ node.get_absolute_url }}" data-slug="{{ node.slug }}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}<br/>
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>ц
{% else %}
    У вас нет ни одной категории. Создайте категории в административной панеле.
{% endif %}