{% if user.organizerprofile %}
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">

                    <div class="pull-left image">
                        {% if profile.icon %}
                            <img src="/media/{{ profile.icon }}" class="img-circle" alt="Ваше фото" />
                        {% else %}
                            <i class="mdi-action-account-circle"></i>
                        {% endif %}                            
                    </div>
                    <div class="pull-left info">
                        <p>{{ profile.firstName }} <small>{{ profile.lastName }}</small></p>
                        <a href="#"><i class="fa fa-circle text-success"></i> В сети</a>
                    </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">Главная навигация</li>

                <li data-step="6" data-intro="В этом разделе Вы можете найти интересующие Вас товары.">
                    <a href="/">
                        <i class="fa fa-th"></i> <span>Смотреть все закупки</span>
                    </a>
                </li>
                <li>
                    <a href="/profile/organizer/purchase-add/">
                        <i class="fa fa-plus"></i> <span>Добавить закупку</span> <small class="label pull-right bg-green">new</small>
                    </a>
                </li>
                <li data-step="6" data-intro="В этом разделе Вы можете найти интересующие Вас товары.">
                    <li><a href="/profile/organizer/purchases/"><i class="fa fa-laptop"></i> Мои закупки</a></li>
                </li>
                <li class="treeview">
                    <a href="/forum/">
                            <i class="fa fa-table"></i> <span>Форум</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <i class="fa fa-calendar"></i> <span>Календарь</span>
                        <small class="label pull-right bg-red">3</small>
                    </a>
                </li>
                <li data-step="7" data-intro="В этом разделе вы можете прочитать как пользоваться нашим ресурсом.">
                    <a href="/documentation"><i class="fa fa-book"></i> Документация</a>
                </li>
            </ul>
        </section>
    </aside>
{% elif user.memberprofile %}

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                    <div class="pull-left image">
                        {% if profile.icon %}
                            <img src="/media/{{ profile.icon }}" class="img-circle" alt="Ваше фото" />
                        {% else %}
                            <i class="mdi-action-account-circle"></i>
                        {% endif %}
                    </div>
                    <div class="pull-left info">
                        <p>{{ profile.firstName }} <small>{{ profile.lastName }}</small></p>
                        <a href="#"><i class="fa fa-circle text-success"></i> В сети</a>
                    </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">Главная навигация</li>

                <li data-step="6" data-intro="В этом разделе Вы можете найти интересующие Вас товары. Вам будет доступен этот раздел после заполнении профиля и его активирования администратором сайта.">
                    <a href="/">
                        <i class="fa fa-th"></i> <span>Смотреть все закупки</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <i class="fa fa-calendar"></i> <span>Календарь</span>
                        <small class="label pull-right bg-red">3</small>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Информация</span>
                    </a>
                </li>
                <li data-step="7" data-intro="В этом разделе вы можете прочитать как пользоваться нашим ресурсом.">
                    <a href="/documentation" ><i class="fa fa-book"></i> Документация</a>
                </li>
            </ul>
        </section>
    </aside>
{% else %}

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    {% if profile.icon %}
                        <img src="/media/{{ profile.icon }}" class="img-circle" alt="Ваше фото" />
                    {% else %}
                        <i class="mdi-action-account-circle"></i>
                    {% endif %}
                </div>
                <div class="pull-left info">
                    <p>{{ profile.firstName }} <small>{{ profile.lastName }}</small></p>
                    <a href="#"><i class="fa fa-circle text-success"></i> В сети</a>
                </div>
            </div>        
            <ul class="sidebar-menu">
                <li class="header">Главная навигация</li>    
                <li data-step="6" data-intro="В этом разделе Вы можете найти интересующие Вас товары. Вам будет доступен этот раздел после заполнении профиля и его активирования администратором сайта.">
                    <a href="/">
                        <i class="fa fa-th"></i> <span>Смотреть все закупки</span>
                    </a>
                </li>            
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Информация о нас</span>
                    </a>
                </li>
                <li data-step="7" data-intro="В этом разделе вы можете прочитать как пользоваться нашим ресурсом.">
                    <a href="/documentation"><i class="fa fa-book"></i> Документация</a>
                </li>
            </ul>
        </section>
    </aside>
    
{% endif %}