{#{% load menu_tags %}#}
{% load thumbnail %}
{% load staticfiles %}

<header class="main-header">
    <a href="/" class="logo" data-step="5" data-intro="Вы всегда, быстро можете перейти в основной каталог совместных покупок."><b>SP</b> Tomsk</a>
    <nav class="navbar navbar-static-top" role="navigation">
        <li class="nav-button" data-step="4" data-intro="Если Вам не достаточно места для комфортного просмотра содержимого сайты, Вы всегда можете скрыть боковое меню."><a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="sr-only" >Toggle navigation</span></a></li>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li></li>
                <li class="dropdown intro-menu notifications-menu">
                    <a  data-toggle="dropdown" class="dropdown-toggle btn btn-xs btn-success"><i class="fa fa-life-buoy"></i>Помощь</a>
                    <ul class="dropdown-menu">
                        <li class="header">Выберите раздел</li>
                        <li>
                            <ul class="menu">
                                <li><a id="start_intro_top" name="" style="cursor:pointer;"></i>Помощь по верхнему меню</a></li>                                
                                <li><a id="start_intro_side" name="" style="cursor:pointer;">Помощь по боковому меню</a></li>
                            </ul>
                        </li>                        
                    </ul>
                </li>
                <li class="dropdown notifications-menu" data-step="3" data-intro="Ваши уведомления помогут быть вкурсе когда актуальные для Вас закупки меняют свой статус.">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">{{ notifications|length }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">У Вас {{ notifications|length }} уведомлен{% if notifications|length == 1 %}ие{% elif notifications|length == 2 or notifications|length == 3 or notifications|length == 4 %}ия{% else %}ий{% endif %}</li>
                        <li>
                            <ul class="menu">
                                {% for notification in notifications %}
                                    <li><a href="#"><i class="fa fa-users text-aqua"></i> {{ notification.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="footer">
                            <a data-toggle="modal" data-target="#myModal" href="#">Показать все</a>
{#                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Подробнее</button>#}
                        </li>
                    </ul>
                </li>
                <li class="dropdown messages-menu intro-top" data-step="2" data-intro="Вы можете просмотреть содержимое Вашей корзины, а так же увидет статус актуальных для вас закупок.">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="full_count_product label label-success">{{ cart_items.full_count }}</span>
                        <span>Корзина</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">В вашей корзине <span class="full_count_product">{{ cart_items.full_count }}</span> товаров</li>
                        <li>
                            <ul class="menu" id="cart_item_menu">
                                {% for item in cart_items %}
                                    <li class="cart_item" id="cart_item_{{ item.id }}">
                                        <div class="pull-left">
                                            {% with 'http://'|add:request.META.HTTP_HOST|add:item.product.get_image.url as path %}
                                                {% thumbnail path "50x50" crop="center" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                {% endthumbnail %}
                                            {% endwith %}
                                        </div>
                                        <a style="padding:0 10px;" href="{{ item.product.url_core }}">
                                            <span class="product_quantity label label-success pull-right">{{ item.quantity }}</span>
                                            <h4 class="product_name" style="max-width: 80%;">{{ item.product.product_name }}</h4>
                                            <p class="product_properties">{{ item.properties }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="/cart/">Смотреть корзину</a>
                            <a href="/purchases-cart/">Мои закупки</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
                <li class='dropdown user user-menu intro-top' data-step="1" data-intro="Меню пользователя, здесь Вы можете редактировать свой профиль и просматривать ваши данные.">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                        {% if user.is_authenticated %}
                            {% if profile.icon %}
                                <img src="/media/{{ profile.icon }}"class="user-image" alt="Ваше фото"/>
                            {% else %}
                                <i class="mdi-action-account-circle"></i>
                            {% endif %}
                        {% else %}
                            Личный кабинет
                        {% endif %}
                        <span class="hidden-xs">Личный кабинет</span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li class="user-header">
                                {% if profile.icon %}
                                    <img src="/media/{{ profile.icon }}" class="img-circle" alt="User Image" />
                                {% else %}
                                    <i class="mdi-action-account-circle"></i>
                                {% endif %}                                
                                <p>
                                    {{ profile.firstName }} {{ profile.lastName }} - {% if user.organizerprofile %}Организатор закупок{% elif user.memberprofile %}Участник закупок{% endif %}
                                    <small>Зарегистрирован {{user.date_joined}}</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="col-xs-4 text-center">
                                    <a href="/profile">Профиль</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Продажи</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Отзывы</a>
                                </div>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/profile/populate-profile/" class="btn btn-default btn-flat">Редактировать профиль</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/profile/logout" class="btn btn-default btn-flat">Выйти</a>
                                </div>
                            </li>
                            {% else %}
                            <!-- User image -->
                            <li class="user-header">
                                <p>
                                  Незарегистрированный
                                  <small>пользователь</small>
                                </p>
                            </li>
                            <!-- Menu Body -->

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/profile/registration/" class="btn btn-default btn-flat">Регистрация</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/profile/login" class="btn btn-default btn-flat">Войти</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img
                        src="/static/images/images.png" alt=""/></span></button>
                <h4 class="modal-title">Ваши уведомления</h4>
            </div>
            <div class="modal-body">
                <div class="p_date pull-right"></div>
                <div class="text"></div>
                {% for notification in notifications %}
                    <div class="items">
                        <h4><i class="fa fa-users text-aqua"></i> {{ notification.name }}</h4>
                        <p>{{ notification.description }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
{#                <a class="purchase_link" href=""><button type="button" class="btn btn-primary">Смотреть закупку</button></a>#}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->