<div class="row">
    <ul>
        <li></li>
        <li><strong>Внимание!</strong> Что-бы добавить товары через импорт xls файла, мы рекомендуем сначала добавить один товар обычным образом и, после этого, скачав пример, добавить в него необходимые позиции.</li>
        <li><strong>Внимание!</strong> При добавлении товаров с помощью импорта xml убедитесь что название Вашего файла не содержит русских букв и пробелов (название может содержать латинские буквы и цыфры, а так же нижнее подчеркивание).</li>
    </ul>    

    <div class="col-xs-6">
        <div class="box box-success">
            <div class="box-header">                      
                <h3 class="">Помощь по разделу</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div>Мы не рекомендуем добавлять слишком много товаров через xls, так как незначительные опечатки сложно найти в большом файле, и, в таком случае, Вы не сможете добавить товары.</div>
              
                <h3>Добавление товаров через xml</h3>  
                <ul class="todo-list ui-sortable">
                    <li class="">
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 1 шаг</small>
                        <span class="text">Добавьте 1 товар обычным способом (инструкции выше). Будьте внимательны при заполнении полей.</span>
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 2 шаг</small>
                        <span class="text">Скачайте пример xml файла на странице каталога вашей закупки (смотрите подробное видео).</span>                          
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 3 шаг</small>
                        <span class="text">Измените скачаный файл. Мы рекомендуем указывать артикул, это упростит дальнейшую работу с участниками и поставщиками товаров.</span>                          
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 4 шаг</small>
                        <span class="text">Добавьте файл. (кнопка "выберите файл" в нижней левой части экрана). Затем нажмите кнопку "Импорт XLS". Дождитесь когда страница перезагрузится. Если файл был составлен правильно, Вы увидите Ваши новые товары в каталоге</span>                          
                    </li>         
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 5 шаг</small>
                        <span class="text">После того как товары добавились, просто пройдитесь по ним и добавьте фотографии в ручную. <strong>Внимание!</strong> Помните, что Вы можете выбирать и добавлять сразу несколько фотографий, если это Вам необходимо. Для этого, при выборе фотографий на своем компьютере, просто зажмите ctrl (или cmd на mac) и поочереди выбирайте нужные фотографии.</span>                          
                    </li>       
                </ul>

            </div><!-- /.box-body -->
        </div>
    </div>

    <div class="col-xs-6">
        <h3>Видео как экспортировать заказанные товары каталога</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BRur8PAZhvU" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
