<div class="row">
    <ul>
        <li>Когда будут совершены заказы Ваших товаров Вы сможете экспортировать их.</li>        
    </ul>    

    <div class="col-xs-6">
        <div class="box box-success">
            <div class="box-header">                      
                <h3 class="">Помощь по разделу</h3>
            </div><!-- /.box-header -->
            <div class="box-body">                          
                <h3>Экспорт заказанных товаров каталога</h3>  
                <ul class="todo-list ui-sortable">
                    <li class="">
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 1 шаг</small>
                        <span class="text">Зайдите в "Мои закупки" нажав перед этим кнопку корзина в верхнем меню сайта или просто перейдите по <a href="/purchases-cart/">ссылке</a></span>
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 2 шаг</small>
                        <span class="text">Найдите интересующий Вас каталог и нажмите на кнопку "Скачать EXEL файл". После этого автоматически начнется загрузка файла.</span>                          
                    </li>                    
                </ul>

            </div><!-- /.box-body -->
        </div>
    </div>

    <div class="col-xs-6">
        <h3>Видео как добавить товары через импорт xml файла в каталог</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/msWfBdmO_4A" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
