<div class="row">
    <ul>
        <li>После того как Ваш профиль организатора будет проверен администратором, Вы сможете приступить к созданию своих закупок.</li>
        <li>Для того что бы создать закупку нажмите на кнопку &quot;Создать закупку&quot; в левом меню или просто перейдите по ссылке <a href="/profile/organizer/purchase-add/">Создать закупку</a></li>
    </ul>    

    <div class="col-xs-6">
        <div class="box box-success">
            <div class="box-header">                      
                <h3 class="">Помощь по разделу</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div>В данном разделе Вы можете создать новый товар в каталоге. Если Вы хотите добавить товары через xml файл обратитесь ко второй части данного раздела помощи.</div>
              
                <h3>Создание товара</h3>  
                <ul class="todo-list ui-sortable">
                    <li class="">
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 1 шаг</small>
                        <span class="text">Заполните все необходимые поля. Будьте внимательны при заполнении цены и артикула товара во избежание путаницы и проблем.</span>
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 2 шаг</small>
                        <span class="text">Выберите все возможные свойства товара, которые доступны для приобретения. Вы так же можете отметить сразу все варианты комбинаций свойств товара.</span>                          
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 3 шаг</small>
                        <span class="text">Обязательно добавьте фотографию товара. Это важно для адекватной оценки товара участниками закупки. <strong>Важно!</strong> Вы можете выбирать сразу несколько фотографий при добавлении.</span>                          
                    </li>                   
                </ul>

            </div><!-- /.box-body -->
        </div>
    </div>

    <div class="col-xs-6">
        <h3>Видео как создать закупку</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fNbtvJojLSA" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
