<div class="row">
    <ul>
        <li>После того как Ваш профиль организатора будет проверен администратором, Вы сможете приступить к созданию своих закупок.</li>
        <li>Для того что бы создать закупку нажмите на кнопку &quot;Создать закупку&quot; в левом меню или просто перейдите по ссылке <a href="/profile/organizer/purchase-add/">Создать закупку</a></li>
    </ul>    

    <div class="col-xs-6">
        <div class="box box-success">
            <div class="box-header">                      
                <h3 class="">Помощь по разделу</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div>В данном разделе Вы можете создать и отредактировать Ваш профиль. Создание профиля необходямо для того что бы Вы могли получить активный статус от администратора сайта и иметь возможность участвовать в закупках или быть их организатором.</div>
              
                <h3>Создание закупки</h3>  
                <ul class="todo-list ui-sortable">
                    <li class="">
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 1 шаг</small>
                        <span class="text">Перейдите на страницу "Создать закупку" в боковом меню (если у Вас нет этого пункта значит Ваш профиль организатора еще не активирован ).</span>
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 2 шаг</small>
                        <span class="text">Заполните поля закупки. Вы можете не заполнять статусы закупки и сделать это позже отредактировав закупку. <strong>Важно!</strong> При изменении статуса или информации о закупке автоматически будут отправлены уведомления об этом всем участникам, которые добавлии товар из данной закупки в корзину.</span>                          
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 3 шаг</small>
                        <span class="text">Старайтесь сделать описание закупки максимально информативным и прислушивайтесь своего эстетического чуства, не перенасыщайте текст заглавными буквами, жирным шрифтом и курсивом, зачастую это только мешает нормальному восприятию текста.</span>                          
                    </li>                   
                </ul>

                <h3>Создание каталогов для закупки</h3>  
                
                <ul class="todo-list ui-sortable">
                    <li class="">
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 1 шаг</small>
                        <span class="text">Дайте название Вашему каталогу (например: Обувь для детей из Китая). Позаботьтесь о том что бы Ваше название соответствовало содержимому.</span>
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 2 шаг</small>
                        <span class="text">Название атрибута (например: размер). Не стоит писать большие названия атрибутов так как, в таком случае, потребителю будет сложно ориентироваться в Вашем каталоге.</span>                          
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 3 шаг</small>
                        <span class="text">Введите возможные параметры товаров, разделяя их символом ";". В дальнейшем, при добавлении товаров, вы сможете указать какие ему присущи атрибуты исходя из тех вариантов, которые Вы ввели в данное поле</span>                          
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 4 шаг</small>
                        <span class="text">При необходимости добавьте атрибуты и их параметры нажав на кнопку "добавить атрибут для товаров" и заполнив необходимые поля.</span>                          
                    </li>
                    <li>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 5 шаг</small>
                        <span class="text">После проверки введенных данных нажмите "создать каталог". <strong>Внимание!</strong> Вы не сможете изменить параметры каталога после его создания.</span>
                    </li>
                </ul>

            
            </div><!-- /.box-body -->
        </div>
    </div>

    <div class="col-xs-6">
        <h3>Видео как создать закупку</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fNbtvJojLSA" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
