<ul class="dropdown-menu scroll">
	<li><a href="#">Абакан</a></li>
	<li><a href="#">Азов</a></li>
	<li><a href="#">Александров</a></li>
	<li><a href="#">Алексин</a></li>
	<li><a href="#">Альметьевск</a></li>
	<li><a href="#">Анапа</a></li>
	<li><a href="#">Ангарск</a></li>
	<li><a href="#">Анжеро-Судженск</a></li>
	<li><a href="#">Апатиты</a></li>
	<li><a href="#">Арзамас</a></li>
	<li><a href="#">Армавир</a></li>
	<li><a href="#">Арсеньев</a></li>
	<li><a href="#">Артем</a></li>
	<li><a href="#">Архангельск</a></li>
	<li><a href="#">Асбест</a></li>
	<li><a href="#">Астрахань</a></li>
	<li><a href="#">Ачинск</a></li>
	<li><a href="#">Балаково</a></li>
	<li><a href="#">Балахна</a></li>
	<li><a href="#">Балашиха</a></li>
	<li><a href="#">Балашов</a></li>
	<li><a href="#">Барнаул</a></li>
	<li><a href="#">Батайск</a></li>
	<li><a href="#">Белгород</a></li>
	<li><a href="#">Белебей</a></li>
	<li><a href="#">Белово</a></li>
	<li><a href="#">Белогорск (Амурская область)</a></li>
	<li><a href="#">Белорецк</a></li>
	<li><a href="#">Белореченск</a></li>
	<li><a href="#">Бердск</a></li>
	<li><a href="#">Березники</a></li>
	<li><a href="#">Березовский (Свердловская область)</a></li>
	<li><a href="#">Бийск</a></li>
	<li><a href="#">Биробиджан</a></li>
	<li><a href="#">Благовещенск (Амурская область)</a></li>
	<li><a href="#">Бор</a></li>
	<li><a href="#">Борисоглебск</a></li>
	<li><a href="#">Боровичи</a></li>
	<li><a href="#">Братск</a></li>
	<li><a href="#">Брянск</a></li>
	<li><a href="#">Бугульма</a></li>
	<li><a href="#">Буденновск</a></li>
	<li><a href="#">Бузулук</a></li>
	<li><a href="#">Буйнакск</a></li>
	<li><a href="#">Великие Луки</a></li>
	<li><a href="#">Великий Новгород</a></li>
	<li><a href="#">Верхняя Пышма</a></li>
	<li><a href="#">Видное</a></li>
	<li><a href="#">Владивосток</a></li>
	<li><a href="#">Владикавказ</a></li>
	<li><a href="#">Владимир</a></li>
	<li><a href="#">Волгоград</a></li>
	<li><a href="#">Волгодонск</a></li>
	<li><a href="#">Волжск</a></li>
	<li><a href="#">Волжский</a></li>
	<li><a href="#">Вологда</a></li>
	<li><a href="#">Вольск</a></li>
	<li><a href="#">Воркута</a></li>
	<li><a href="#">Воронеж</a></li>
	<li><a href="#">Воскресенск</a></li>
	<li><a href="#">Воткинск</a></li>
	<li><a href="#">Всеволожск</a></li>
	<li><a href="#">Выборг</a></li>
	<li><a href="#">Выкса</a></li>
	<li><a href="#">Вязьма</a></li>
	<li><a href="#">Гатчина</a></li>
	<li><a href="#">Геленджик</a></li>
	<li><a href="#">Георгиевск</a></li>
	<li><a href="#">Глазов</a></li>
	<li><a href="#">Горно-Алтайск</a></li>
	<li><a href="#">Грозный</a></li>
	<li><a href="#">Губкин</a></li>
	<li><a href="#">Гудермес</a></li>
	<li><a href="#">Гуково</a></li>
	<li><a href="#">Гусь-Хрустальный</a></li>
	<li><a href="#">Дербент</a></li>
	<li><a href="#">Дзержинск</a></li>
	<li><a href="#">Димитровград</a></li>
	<li><a href="#">Дмитров</a></li>
	<li><a href="#">Долгопрудный</a></li>
	<li><a href="#">Домодедово</a></li>
	<li><a href="#">Донской</a></li>
	<li><a href="#">Дубна</a></li>
	<li><a href="#">Евпатория</a></li>
	<li><a href="#">Егорьевск</a></li>
	<li><a href="#">Ейск</a></li>
	<li><a href="#">Екатеринбург</a></li>
	<li><a href="#">Елабуга</a></li>
	<li><a href="#">Елец</a></li>
	<li><a href="#">Ессентуки</a></li>
	<li><a href="#">Железногорск (Красноярский край)</a></li>
	<li><a href="#">Железногорск (Курская область)</a></li>
	<li><a href="#">Жигулевск</a></li>
	<li><a href="#">Жуковский</a></li>
	<li><a href="#">Заречный</a></li>
	<li><a href="#">Зеленогорск</a></li>
	<li><a href="#">Зеленодольск</a></li>
	<li><a href="#">Златоуст</a></li>
	<li><a href="#">Иваново</a></li>
	<li><a href="#">Ивантеевка</a></li>
	<li><a href="#">Ижевск</a></li>
	<li><a href="#">Избербаш</a></li>
	<li><a href="#">Иркутск</a></li>
	<li><a href="#">Искитим</a></li>
	<li><a href="#">Ишим</a></li>
	<li><a href="#">Ишимбай</a></li>
	<li><a href="#">Йошкар-Ола</a></li>
	<li><a href="#">Казань</a></li>
	<li><a href="#">Калининград</a></li>
	<li><a href="#">Калуга</a></li>
	<li><a href="#">Каменск-Уральский</a></li>
	<li><a href="#">Каменск-Шахтинский</a></li>
	<li><a href="#">Камышин</a></li>
	<li><a href="#">Канск</a></li>
	<li><a href="#">Каспийск</a></li>
	<li><a href="#">Кемерово</a></li>
	<li><a href="#">Керчь</a></li>
	<li><a href="#">Кинешма</a></li>
	<li><a href="#">Кириши</a></li>
	<li><a href="#">Киров (Кировская область)</a></li>
	<li><a href="#">Кирово-Чепецк</a></li>
	<li><a href="#">Киселевск</a></li>
	<li><a href="#">Кисловодск</a></li>
	<li><a href="#">Клин</a></li>
	<li><a href="#">Клинцы</a></li>
	<li><a href="#">Ковров</a></li>
	<li><a href="#">Когалым</a></li>
	<li><a href="#">Коломна</a></li>
	<li><a href="#">Комсомольск-на-Амуре</a></li>
	<li><a href="#">Копейск</a></li>
	<li><a href="#">Королев</a></li>
	<li><a href="#">Кострома</a></li>
	<li><a href="#">Котлас</a></li>
	<li><a href="#">Красногорск</a></li>
	<li><a href="#">Краснодар</a></li>
	<li><a href="#">Краснокаменск</a></li>
	<li><a href="#">Краснокамск</a></li>
	<li><a href="#">Краснотурьинск</a></li>
	<li><a href="#">Красноярск</a></li>
	<li><a href="#">Кропоткин</a></li>
	<li><a href="#">Крымск</a></li>
	<li><a href="#">Кстово</a></li>
	<li><a href="#">Кузнецк</a></li>
	<li><a href="#">Кумертау</a></li>
	<li><a href="#">Кунгур</a></li>
	<li><a href="#">Курган</a></li>
	<li><a href="#">Курск</a></li>
	<li><a href="#">Кызыл</a></li>
	<li><a href="#">Лабинск</a></li>
	<li><a href="#">Лениногорск</a></li>
	<li><a href="#">Ленинск-Кузнецкий</a></li>
	<li><a href="#">Лесосибирск</a></li>
	<li><a href="#">Липецк</a></li>
	<li><a href="#">Лиски</a></li>
	<li><a href="#">Лобня</a></li>
	<li><a href="#">Лысьва</a></li>
	<li><a href="#">Лыткарино</a></li>
	<li><a href="#">Люберцы</a></li>
	<li><a href="#">Магадан</a></li>
	<li><a href="#">Магнитогорск</a></li>
	<li><a href="#">Майкоп</a></li>
	<li><a href="#">Махачкала</a></li>
	<li><a href="#">Междуреченск</a></li>
	<li><a href="#">Мелеуз</a></li>
	<li><a href="#">Миасс</a></li>
	<li><a href="#">Минеральные Воды</a></li>
	<li><a href="#">Минусинск</a></li>
	<li><a href="#">Михайловка</a></li>
	<li><a href="#">Михайловск (Ставропольский край)</a></li>
	<li><a href="#">Мичуринск</a></li>
	<li><a href="#">Москва</a></li>
	<li><a href="#">Мурманск</a></li>
	<li><a href="#">Муром</a></li>
	<li><a href="#">Мытищи</a></li>
	<li><a href="#">Набережные Челны</a></li>
	<li><a href="#">Назарово</a></li>
	<li><a href="#">Назрань</a></li>
	<li><a href="#">Нальчик</a></li>
	<li><a href="#">Наро-Фоминск</a></li>
	<li><a href="#">Находка</a></li>
	<li><a href="#">Невинномысск</a></li>
	<li><a href="#">Нерюнгри</a></li>
	<li><a href="#">Нефтекамск</a></li>
	<li><a href="#">Нефтеюганск</a></li>
	<li><a href="#">Нижневартовск</a></li>
	<li><a href="#">Нижнекамск</a></li>
	<li><a href="#">Нижний Новгород</a></li>
	<li><a href="#">Нижний Тагил</a></li>
	<li><a href="#">Новоалтайск</a></li>
	<li><a href="#">Новокузнецк</a></li>
	<li><a href="#">Новокуйбышевск</a></li>
	<li><a href="#">Новомосковск</a></li>
	<li><a href="#">Новороссийск</a></li>
	<li><a href="#">Новосибирск</a></li>
	<li><a href="#">Новотроицк</a></li>
	<li><a href="#">Новоуральск</a></li>
	<li><a href="#">Новочебоксарск</a></li>
	<li><a href="#">Новочеркасск</a></li>
	<li><a href="#">Новошахтинск</a></li>
	<li><a href="#">Новый Уренгой</a></li>
	<li><a href="#">Ногинск</a></li>
	<li><a href="#">Норильск</a></li>
	<li><a href="#">Ноябрьск</a></li>
	<li><a href="#">Нягань</a></li>
	<li><a href="#">Обнинск</a></li>
	<li><a href="#">Одинцово</a></li>
	<li><a href="#">Озерск (Челябинская область)</a></li>
	<li><a href="#">Октябрьский</a></li>
	<li><a href="#">Омск</a></li>
	<li><a href="#">Орел</a></li>
	<li><a href="#">Оренбург</a></li>
	<li><a href="#">Орехово-Зуево</a></li>
	<li><a href="#">Орск</a></li>
	<li><a href="#">Павлово</a></li>
	<li><a href="#">Павловский Посад</a></li>
	<li><a href="#">Пенза</a></li>
	<li><a href="#">Первоуральск</a></li>
	<li><a href="#">Пермь</a></li>
	<li><a href="#">Петрозаводск</a></li>
	<li><a href="#">Петропавловск-Камчатский</a></li>
	<li><a href="#">Подольск</a></li>
	<li><a href="#">Полевской</a></li>
	<li><a href="#">Прокопьевск</a></li>
	<li><a href="#">Прохладный</a></li>
	<li><a href="#">Псков</a></li>
	<li><a href="#">Пушкино</a></li>
	<li><a href="#">Пятигорск</a></li>
	<li><a href="#">Раменское</a></li>
	<li><a href="#">Ревда</a></li>
	<li><a href="#">Реутов</a></li>
	<li><a href="#">Ржев</a></li>
	<li><a href="#">Рославль</a></li>
	<li><a href="#">Россошь</a></li>
	<li><a href="#">Ростов-на-Дону</a></li>
	<li><a href="#">Рубцовск</a></li>
	<li><a href="#">Рыбинск</a></li>
	<li><a href="#">Рязань</a></li>
	<li><a href="#">Салават</a></li>
	<li><a href="#">Сальск</a></li>
	<li><a href="#">Самара</a></li>
	<li><a href="#">Санкт-Петербург</a></li>
	<li><a href="#">Саранск</a></li>
	<li><a href="#">Сарапул</a></li>
	<li><a href="#">Саратов</a></li>
	<li><a href="#">Саров</a></li>
	<li><a href="#">Свободный</a></li>
	<li><a href="#">Севастополь</a></li>
	<li><a href="#">Северодвинск</a></li>
	<li><a href="#">Северск</a></li>
	<li><a href="#">Сергиев Посад</a></li>
	<li><a href="#">Серов</a></li>
	<li><a href="#">Серпухов</a></li>
	<li><a href="#">Сертолово</a></li>
	<li><a href="#">Сибай</a></li>
	<li><a href="#">Симферополь</a></li>
	<li><a href="#">Славянск-на-Кубани</a></li>
	<li><a href="#">Смоленск</a></li>
	<li><a href="#">Соликамск</a></li>
	<li><a href="#">Солнечногорск</a></li>
	<li><a href="#">Сосновый Бор</a></li>
	<li><a href="#">Сочи</a></li>
	<li><a href="#">Ставрополь</a></li>
	<li><a href="#">Старый Оскол</a></li>
	<li><a href="#">Стерлитамак</a></li>
	<li><a href="#">Ступино</a></li>
	<li><a href="#">Сургут</a></li>
	<li><a href="#">Сызрань</a></li>
	<li><a href="#">Сыктывкар</a></li>
	<li><a href="#">Таганрог</a></li>
	<li><a href="#">Тамбов</a></li>
	<li><a href="#">Тверь</a></li>
	<li><a href="#">Тимашевск</a></li>
	<li><a href="#">Тихвин</a></li>
	<li><a href="#">Тихорецк</a></li>
	<li><a href="#">Тобольск</a></li>
	<li><a href="#">Тольятти</a></li>
	<li><a href="#">Томск</a></li>
	<li><a href="#">Троицк</a></li>
	<li><a href="#">Туапсе</a></li>
	<li><a href="#">Туймазы</a></li>
	<li><a href="#">Тула</a></li>
	<li><a href="#">Тюмень</a></li>
	<li><a href="#">Узловая</a></li>
	<li><a href="#">Улан-Удэ</a></li>
	<li><a href="#">Ульяновск</a></li>
	<li><a href="#">Урус-Мартан</a></li>
	<li><a href="#">Усолье-Сибирское</a></li>
	<li><a href="#">Уссурийск</a></li>
	<li><a href="#">Усть-Илимск</a></li>
	<li><a href="#">Уфа</a></li>
	<li><a href="#">Ухта</a></li>
	<li><a href="#">Феодосия</a></li>
	<li><a href="#">Фрязино</a></li>
	<li><a href="#">Хабаровск</a></li>
	<li><a href="#">Ханты-Мансийск</a></li>
	<li><a href="#">Хасавюрт</a></li>
	<li><a href="#">Химки</a></li>
	<li><a href="#">Чайковский</a></li>
	<li><a href="#">Чапаевск</a></li>
	<li><a href="#">Чебоксары</a></li>
	<li><a href="#">Челябинск</a></li>
	<li><a href="#">Черемхово</a></li>
	<li><a href="#">Череповец</a></li>
	<li><a href="#">Черкесск</a></li>
	<li><a href="#">Черногорск</a></li>
	<li><a href="#">Чехов</a></li>
	<li><a href="#">Чистополь</a></li>
	<li><a href="#">Чита</a></li>
	<li><a href="#">Шадринск</a></li>
	<li><a href="#">Шали</a></li>
	<li><a href="#">Шахты</a></li>
	<li><a href="#">Шуя</a></li>
	<li><a href="#">Щекино</a></li>
	<li><a href="#">Щелково</a></li>
	<li><a href="#">Электросталь</a></li>
	<li><a href="#">Элиста</a></li>
	<li><a href="#">Энгельс</a></li>
	<li><a href="#">Южно-Сахалинск</a></li>
	<li><a href="#">Юрга</a></li>
	<li><a href="#">Якутск</a></li>
	<li><a href="#">Ялта</a></li>
	<li><a href="#">Ярославль</a></li>
</ul>