{% load staticfiles %}
{% load client_category_tags %}
{% load client_slider %}
<!DOCTYPE html>
<html>
    <head>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% include 'client/stylesheets.html' %}
        {% block client_css %}            
        {% endblock %}
    </head>

    <body class="client_body">

        <div class="scroll-class">
            {% block header %}
                <!-- Dropdown Structure Menu -->
                {% include 'client/top_menu.html' %}
            {% endblock %}
        
            {% block header_info %}
                <!-- Dropdown Structure Menu -->
                {% include 'client/header_info.html' %}
            {% endblock %}

            {% block main_menu %}
                <!-- Dropdown Structure Menu -->
                {% include 'client/main_menu.html' %}
            {% endblock %}
        </div>

        {% block slider %}
            {% client_slider request %}
        {% endblock %}        

        {% block wrapper %}
        {% endblock %}

        {% block footer %}
            {% include 'client/footer.html' %}
        {% endblock %}

        <!--Import jQuery before materialize.js-->
        {% include 'client/javascripts.html' %}
        <script type="text/javascript">
            $(document).ready(function() {
                $.material.init();
                var width = $(window).width();    
                $(window).scroll(function() {
                    // фиксируем основное меню при скроле
                    var bool = false;
                    var top = $(document).scrollTop();
                    if (top < 50) {                        
                        $(".scroll-class").css({
                            position: "fixed",
                            top:"0px",
                            left:0,                            
                            zIndex:"100"
                        });
                        $(".main-menu-container").addClass('container');
                    } else if (top >= 150) {                        
                        $(".scroll-class").css({position: "fixed", top: "-101px", left:0 , zIndex:"100", width: "100%"});
                        $(".main-menu-container").removeClass('container');
                    }                    
                });
            });
        </script>
        {% block client_js %}
        {% endblock %}
    </body>
</html>
