<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h5 class="white-text">О нас</h5>
                <p class="grey-text text-lighten-4">Мы предлагаем отличные товары по низким ценам от производителей! Все дело в том что наши организаторы закупок очень инициативные люди и мы это ценим! Надеемся Вам придутся по вкусу то что они предлагают.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="footer-copyright">
                    © 2014 Copyright Text <a class="grey-text text-lighten-4 center" href="#">Forward Group</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
