{% load client_category_tags %}

{#<div class="navbar navbar-default">#}
    <div class="container">
        <div class="row">

                <div id="header_info" class="navbar navbar-default">
                    <div class="col-xs-12">
                        <div class="row">
                        <div class="container">
                    <div class="navbar-header">
                        <button typ e="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/client/">Brand</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <div id="react_search"></div>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="javascript:void(0)">Регистрация</a></li>
                            <li><a href="javascript:void(0)">Вход</a></li>
                        </ul>
                    </div>

                        </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
{#</div>#}
