{% load staticfiles %}

    {# working app #}
    {# <script src="{% static 'brow/brow.js' %}"></script>#}

    {# <script type="text/javascript" src="{% static 'application/require.js' %}"></script> #}
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>

    <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/dropdown/jquery.dropdown.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'client/dev/cartmenu/bundle.js' %}"></script>#}
    <script type="text/javascript">
        $(".select").dropdown({ "autoinit" : ".select" });
    </script>

    {# // <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>#}
    {# // <script type="text/javascript" src="{% static 'lib/velocity/velocity.min.js' %}"></script>#}
    {# // <script type="text/javascript" src="{% static 'lib/velocity/velocity.ui.js' %}"></script>#}
    {# // <script type="text/javascript" src="{% static 'lib/quttons/Quttons.js' %}"></script>#}
    {# // <script type="text/javascript" src="{% static 'lib/dropdown/jquery.dropdown.js' %}"></script>    #}
