{% load staticfiles %}


<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
{# <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">#}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{# #}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />

<link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.css' %}">
{# <link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}" />#}
{# <link rel="stylesheet" href="{% static 'node_modules/dropdown/jquery.dropdown.css' %}">#}


{# <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.min.css' %}" />#}
{# <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />#}

 {# <link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />#}
{# <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/snackbarjs/dist/snackbar.min.css' %}" /> #}
{# <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/snackbarjs/themes-css/material.css' %}" />#}

{% if server == 'develop' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bundle/client-bundle.css' %}" />
{% endif %}
{% if server == 'production' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bundle/client-bundle.min.css' %}" />
{% endif %}
{# <link rel="stylesheet" type="text/css" href="{% static 'css/client-mobile.css' %}" />#}
{# <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />#}
{# <link rel="stylesheet" type="text/css" href="{% static 'css/snackbar.min.css' %}" />#}
<link rel="stylesheet" type="text/css" href="{% static 'node_modules/react-select/dist/default.css' %}" />
{# <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />#}
{# <link rel="stylesheet" type="text/css" href="{% static 'lib/quttons/Quttons.css' %}" />#}

{# <link rel="stylesheet" type="text/css" href="{% static 'lib/dropdown/jquery.dropdown.css' %}" />#}
