.mobile .email-block .box-right {
    width: 100%;
    padding: 10px;
}
.mobile .email-block .box-left {
    display: none;
}
.mobile .email-block .box-right {
    text-align: center;
}
.mobile .navbar .navbar-nav>li>ul>li>ul, .navbar ul.navbar-nav>li.dropdown:hover>ul>li>ul {
  visibility: inherit;
  display: block;
  opacity: 1;
  position: initial;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
