{% extends "core_main.html" %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
    <div id="core_product" class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">{{ purchase.name }}</li>
                <li>{{ catalog.catalog_name }}</li>
            </ol>
            <h1>Просмотр каталога "{{ catalog.catalog_name }}" закупки - {{ purchase.name }}</h1>
        </section>

        {% if not profile %}
            <div class="pad margin no-print">
                <div class="callout callout-info" style="margin-bottom: 0!important;">
                    <h4><i class="fa fa-info"></i> Записочка</h4>
                    Для того что бы работать организатором в SP Mooscow, вам необходимо заполнить личные данные, после этого Ваша учетная запись будет рассмотренна админимтратором и ей будет присвоен соответствующий статус
                </div>
            </div>
        {% endif %}


        <!-- Main content -->
        <section class="invoice">
            <!-- Table row -->
            <div class="row">

                <div class="col-xs-6">

                    <b>ID: </b>{{ product.id }}
                    <br/>
                    <b>Name: </b>{{ product.product_name }}
                    <br/>
                    {#<a href="/profile/organizer/purchase-{{ purchase.id }}catalog-{{ catalog.id }}-edit">Изменить каталог</a>#}
                    <br/>
                </div><!-- /.col -->
                <div class="col-xs-12">
                    <div class="row">
                            <div class="col-xs-12 item">
                                {% for image in images %}
                                    <img style="width: 300px;" src="{{ image.url }}" alt=""/>
                                {% endfor %}
                                <br/>
                                {{ product.product_name }}
                                <br/>
                                {{ product.description|truncatewords:15|safe }}
                                <br/>
                                {{ product.price }} руб.
                                <br/>
                                {% if product.sku %}
                                    {{ product.sku }}
                                {% endif %}

                                {{ form.errors }}
                                {{ form.non_field_errors }}

                                <form action="." method="post">{% csrf_token %}
                                    {{ form.as_p }}
{#                                    <input class="form-control " id="id_cart_id" name="cart_id" type="text">#}
{#                                    <input class="form-control " id="id_date_added" name="date_added" type="text">#}
{#                                    <input class="form-control " id="id_product" name="product" type="text">#}
{#                                    <input class="form-control " id="id_quantity" name="quantity" type="text">#}
                                    <button type="submit" class="btn btn-primary">Купить</button>
                                </form>

                            </div>
                    </div>
                </div>
            </div><!-- /.row -->

        </section><!-- /.content -->
        <div class="clearfix"></div>
    </div><!-- /.content-wrapper -->

{% endblock %}

