{% extends "core_main.html" %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
           <ol class="breadcrumb" style="display: block">
                <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Просмотреть закупку</li>
            </ol>
            <h1>Закупка "{{ purchase.name }}"</h1>
        </section>

        <!-- Main content -->
        <section class="invoice">
            <!-- Table row -->
            <div class="row">

                <div class="col-xs-7">
                    <h3>Основная информация</h3>
                    <b>ID: </b>{{ purchase.id }}
                    <br/>
                    <b>Название закупки: </b>{{ purchase.name }}
                    <br/>
                    <b>Описание:</b>{{ purchase.description }}
                    <br/>
                    {% if purchase.get_catalogs %}
                        <b>Каталоги:</b>
                        {% for catalog in purchase.get_catalogs %}
                            <br/>
                            <a href="{{ catalog.url_core }}">{{ catalog.catalog_name }}</a>
                        {% endfor %}
                    {% endif %}

                </div><!-- /.col -->

                <div class="col-xs-5">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Условия закупки</h3>
                            <b>Предоплата: </b> {{ purchase.prepay }}%
                            <br/>
                            <b>Процент организатора: </b>{{ purchase.percentage }}%
                            <br/>
                            <b>Способы оплаты:</b> {{ purchase.paymethods }}
                            <br/>
                        </div>
                        <div class="col-xs-12">
                            <h3>Каталоги закупки</h3>
                            {% for catalog in purchase.get_catalogs %}
                                <a href="{{ catalog.url_core }}">{{ catalog.catalog_name }}</a>
                            {% endfor %}

                        </div>
                    </div>

                </div><!-- /.col -->

            </div><!-- /.row -->

        </section><!-- /.content -->
        <div class="clearfix"></div>
    </div><!-- /.content-wrapper -->

{% endblock %}