{% extends "client/client_with_sidebar.html" %}
{% load staticfiles %}

{% block slider %}
{% endblock %}

{% block client_css %}
{% endblock %}

{% block content %}
    <div id="purchase"></div>
{% endblock %}


{% block client_js %}
    {# // <script type="text/javascript" src="{% static 'client/dev/purchase/bundle.js' %}"></script> #}    
    {% if server == 'develop' %}
        <script type="text/javascript" src="{% static 'client/build/purchase-build.js' %}"></script>
    {% endif %}
    {% if server == 'production' %}
        <script type="text/javascript" src="{% static 'client/build/production/purchase-build.min.js' %}"></script>
    {% endif %}
{% endblock %}
